extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(background-color='#313131' padding="0")
        mj-column
           mj-image(width="24px" align="center" padding="24px" src="http://work.maxgraph.ru/mail/mjml-letter/apple.png")
    //- Hero
    mj-wrapper(css-class="columns" background-color="#141415" padding="0" padding-bottom="30px")
        //- title
        mj-section(padding="0")
            mj-column
                mj-text(css-class="title" padding="50px 30px 0px 30px" color="#ffffff" font-family="Verdana" line-height="49px" font-size="40px" font-weight="bold" align="center")
                    h1 Our most stunning take on post-production
                mj-button(css-class="link" font-family="Verdana" font-size="15px" font-weight="bold" background-color="transparent" color="#51ACFF" line-height="18px" href="https://yandex.ru/") Buy now #[img(src="http://work.maxgraph.ru/mail/mjml-letter/arrow.png")/]
        //- Image 
        mj-section(padding="0")
            mj-column
                mj-image(align="center" src="http://work.maxgraph.ru/mail/mjml-letter/mac.png")/
        //- Chiffres
        mj-section(padding="0 60px")
            mj-column
                mj-text
                    div(class="up") up to
                    div(class="value") 3.2x
                    div(class="advantages") faster render
                mj-image(align="left" src="http://work.maxgraph.ru/mail/mjml-letter/line.png")/
            mj-column
                mj-text
                    div(class="up") up to
                    div(class="value") 8 +
                    div(class="advantages") streams of 4k video
                mj-image(align="left" src="http://work.maxgraph.ru/mail/mjml-letter/line.png")/
            mj-column
                mj-text
                    div(class="up") up to
                    div(class="value") 2x
                    div(class="advantages") faster running time
                mj-image(align="left" src="http://work.maxgraph.ru/mail/mjml-letter/line.png")/